body {
    padding-top: 5rem;
}

.card-lay{
    display:grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.user-card-lay{
    display:grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: repeat(2, 1fr);
}
.user-images{
    width:280px;
    height:230px;
}
.images{
    margin-top:5%;
    width:180px;
    height:150px;
}
#col3{
    margin-left:20%;
    margin-top: 33%;
}
#col2{
    margin-top: 8%;
}

#col2 li{
    margin-bottom: 1em;
}

.card-body li{
    margin-bottom: 1em;
}



  .smallimg{
    width:35px;
    height:30px;
  }

  
.text{
    margin-left:10%;
}
  .cardbod{
    margin:5%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 6px solid rgb(72,141,218);
    border-radius: 0.5rem;
  }

  .margindiv{
      margin:2%;
      
  }
  .greenbtn {
    color: #fff;
    background-color: rgb(128,211,57);
    border-color: rgb(128,211,57);
  }
  .ubtn{
      margin-left: 2em;
      width:40%;
      padding: 7px;
      border-radius: 10px;

  }