{% extends "base.html"%}
{% block main %}
<div>
    <h1 class="profile">Profiles</h1>
 
      {% for user in users%}
      <form action="{{ url_for('profileuser',userid=user.id) }}" method="get">
          <div class="cardbod" id="card-lay" style="width:800px">
              <ul class="card-lay">
  
                  <li><img class="images" src="{{url_for('static',filename=user.photo)}}" alt="image" ></li>
                  <div class="card-body" >
                      <li><h4 class="card-title">{{user.fname}}  {{user.lname}}</h4></li>
                      <li class="card-text"> <img class="smallimg" src="/static/images/gender.png">{{user.gender}}</li>
                      <li class="card-text"><img class="smallimg" src="/static/images/location.png"> {{user.location}}</li>
                  </div>
                  <li id="col3">
                      <button class="btn greenbtn"type="submit">View Profile</button>
                  </li>
              </ul>
              
          </div>
      
       </form>
          
         
      {% endfor %}
</div>
 
{% endblock %}