{% extends "base.html"%}

{% block main %}
<div class="blueborder">
    <div class="cardbod" id="card-lay" >
        <div class="margindiv">
            <ul class="user-card-lay">

                <li><img class="user-images" src="{{url_for('static',filename=photo)}}" alt="image" ></li>
                <div id="col2" class="card-body">
                    <li><h4 class="card-title"> {{fname}}  {{lname}}</h4></li>
                    <li class="card-text"> <img class="smallimg" src="/static/images/email.png"> {{email}}</li>
                    <li class="card-text"> <img class="smallimg" src="/static/images/location.png">{{location}}</li>
                    <li class="card-text"> <img class="smallimg" src="/static/images/dateadded.png"> Joined on {{created_date}}</li>

                </div>
            
            </ul>
            <div class="text">
                <h3>About Me</h3>
                <p class="card-text"> {{biography}}</p>
                <button class=" greenbtn ubtn" type="submit">Send Message</button>
                <button class=" btn-primary ubtn" type="submit">Follow</button>
            </div>
            
        </div>
            

        
    </div>
</div>
   
{% endblock %}