{% extends "base.html"%}

{% block main %}
    <h1>Secure Page</h1>
       

    <div class="card" id="card-lay" style="width:800px">
        <ul class="user-card-lay">

            <li><img class="user-images" src="{{url_for('static',filename=photo)}}" alt="image" ></li>
            <div class="card-body">
                <li><h4 class="card-title">{{fname}}  {{lname}}</h4></li>
                <li class="card-text"> {{email}}</li>
                <li class="card-text"> {{location}}</li>
            </div>
           
        </ul>

        <h3>About Me</h3>
        <p class="card-text"> {{biography}}</p>

        
    </div>
{% endblock %}